
$mobile_breakpoint: 576px;
$tablet_breakpoint: 768px;
$tablet_landscape_breakpoint: 992px;
$desktop_breakpoint: 1200px;


$font-stack: Helvetica, sans-serif;
$primary-color: #333;


body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 100% $font-stack;
    color: $primary-color;
 }


.header {
    display: flex;
    flex-direction: row;
}

.header__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    ul {
        display: flex;
        flex-direction: column;
        li {
            justify-content: space-between;
        }
    }

}

.header__bottom {

}



// SCSS Mixins
@mixin mobile {
  @media only screen and (min-width: #{$mobile_breakpoint}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$tablet_breakpoint}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and (min-width: #{$tablet_landscape_breakpoint}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop_breakpoint}) {
    @content;
  }
}
