body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Asap", Arial, Tahoma, Geneva, sans-serif;
}



h2 {
    margin-bottom: 10px;
    font-size: 16px;    
    font-weight: 400;
}

p {
    margin-top:10px;
}

.header {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.htop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.htop .htop__logo {
    flex: 1;
}

.htop__logo img {
    width: 180px;
    height: 40px;
}

.htop .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__item {
    padding-left: 14px;
    padding-right: 4px;
}

.menu__item::after {
    content: "|";
}

.htop .htop__call {
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
}

.nav-list {
    flex: 1; /*Toma todo el espacio que necesita en el div*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.hbottom {
    display: flex;
    flex-direction: column;
}

.hbottom .breadcrumb__list {
    display: flex;
    align-items: center;
    justify-content: start;
}

.breadcrumb__item::after {
    content: "\3E";
    margin-left: 0.3em;
}

.filter-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.trip-pannel {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card {
    max-width: 45%;
    min-width: 35%;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(189, 255, 255);
}

.card__header {
    margin-bottom: 10px;
}

.card__figure {
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
    flex: 1;
}

.card__figure img {
    max-height: 100%;
    min-width: 100%;
}

.card__body {
    margin-bottom: 10px;
    background-color: cadetblue;
}

.card__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
}

.deals, .conditions {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:10px;
    width: 70%;    
}

.footer-product__list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
}

.product-item {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-modules {    
    margin: 0 auto;
    width: 70%;
    display: flex;  
    flex-wrap: wrap;  
    align-items: center;
    justify-content: space-between;
}

.card-background {  
    min-height: 150px;
    min-width: 150px;
    max-width: 280px;
    margin: 10px;    
    display: flex;    
    flex-direction: column;
    flex: 1;
    align-content: center;    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.item1 {
    background-image: url("https://www.viajeselcorteingles.es/imagen/img_pymes.jpg");
}

.item2 {
    background-image: url("https://www.viajeselcorteingles.es/imagen/img_footer_hoteles.png");
}

.item3 {
    background-image: url("https://www.viajeselcorteingles.es/imagen/camp/img_camp_area_usuario_293x170.jpg");
}



.card-background__image {        
   
}

.card-background__image img {        
}

.card-background__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    align-items: flex-start;
}


/* Resto de reglas en orden creciente */
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
