@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,500&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Asap", "Arial", Tahoma, Geneva, sans-serif;
}

@media only screen and (max-width: 1244px) {
  body,
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 992px) {
  body,
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  body,
  html {
    font-size: 10px;
  }
}

body {
  background-color: #efefef;
}

h2 {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 400;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.header {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1244px) {
  .header {
    width: 85%;
  }
}

.htop {
  margin-bottom: 10px;
  color: #929292;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.htop a {
  color: #929292;
  font-family: "Asap";
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 400;
}

.htop__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.htop__logo img {
  width: 180px;
  height: 40px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu .menu__item {
  padding-left: 16px;
  padding-right: 8px;
  white-space: nowrap;
}

.menu .menu__item::after {
  content: "|";
}

.menu .fa-map-marker-alt,
.menu .fa-map-marker-alt a {
  color: #67b500;
}

.menu .fa-phone a {
  font-size: 1.125rem;
}

.main-nav {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
}

.main-nav button {
  background-color: #67b500;
  color: white;
  border: none;
}

.main-nav li {
  margin-right: 8px;
}

.main-nav .nav-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /*Toma todo el espacio que necesita en el div*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-nav .nav-list a {
  font-family: "Asap";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  color: #3a3f3a;
}

.hbottom {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hbottom .breadcrumb__list {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.hbottom .breadcrumb__list .breadcrumb__item a {
  color: #67b500;
}

.hbottom .breadcrumb__list .breadcrumb__item--current {
  color: #3a3f3a;
}

.hbottom .breadcrumb__list .breadcrumb__item::after {
  content: "\3E";
  margin-left: 0.5rem;
}

.hbottom .filter-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hbottom .filter-bar .fas {
  color: white;
}

.hbottom .filter-bar button {
  padding: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
  color: white;
  border: none;
  background-color: #67b500;
  font-family: "Asap";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
}

.trip-pannel {
  width: 70%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1244px) {
  .trip-pannel {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 992px) {
  .trip-pannel {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .trip-pannel {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.trip-pannel .card {
  max-width: 420px;
  min-width: 200px;
  margin-right: 16px;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: white;
}

.trip-pannel .card__header {
  margin-bottom: 10px;
}

.trip-pannel .card__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.trip-pannel .card__figure img {
  max-height: 100%;
  min-width: 100%;
}

.trip-pannel .card__body {
  padding: 10px;
  margin-bottom: 10px;
}

.trip-pannel .card__body h2 {
  font-family: "Asap";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 900;
}

.trip-pannel .card__body p {
  font-size: 12px;
}

.trip-pannel .card__footer {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trip-pannel .card__footer button {
  border: 1.5px solid #67b500;
  border-radius: 5%;
  color: #67b500;
  font-weight: 700;
  background-color: #ffffff00;
  text-transform: uppercase;
  margin: 8px;
  padding: 3px 14px;
}

.trip-pannel .card__footer h2 {
  color: #67b500;
  font-family: "Asap";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bolder;
}

.deals,
.conditions {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 70%;
  background-color: white;
}

@media only screen and (max-width: 1244px) {
  .deals,
  .conditions {
    width: 100%;
  }
}

.deals p,
.conditions p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.625rem;
  font-weight: normal;
  color: #929292;
}

.deals h2,
.conditions h2 {
  font-size: 0.875rem;
  font-weight: 900;
  color: #929292;
}

.footer-product__list {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 1244px) {
  .footer-product__list {
    width: 85%;
  }
}

.footer-product__list .product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.144);
  padding: 15px 25px;
}

@media only screen and (max-width: 1244px) {
  .footer-product__list .product-item {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 992px) {
  .footer-product__list .product-item {
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 768px) {
  .footer-product__list .product-item {
    padding: 5px 10px;
  }
}

.footer-product__list .product-item span {
  font-size: 1.125rem;
  margin-bottom: 8px;
  color: #67b500;
}

.footer-product__list .product-item span p {
  margin-top: 10px;
  font-family: "Asap";
  font-size: 0.5rem;
  font-style: normal;
  font-weight: normal;
  color: #929292;
}

.footer-modules {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 1244px) {
  .footer-modules {
    width: 85%;
  }
}

.card-background {
  min-height: 150px;
  min-width: 150px;
  max-width: 280px;
  margin: 10px;
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-background__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card-background__content button {
  padding: 4px 15px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.1);
  font-family: "Asap";
  font-size: 10px;
  color: black;
}

.card-background__content h3 {
  margin-bottom: 10px;
  font-size: 1rem;
}

.card-background__content p {
  margin-bottom: 16px;
  font-size: 0.75rem;
}

.item1 {
  background-image: url("https://www.viajeselcorteingles.es/imagen/img_pymes.jpg");
}

.item1 button {
  color: white;
}

.item2 {
  color: black;
  background-image: url("https://www.viajeselcorteingles.es/imagen/img_footer_hoteles.png");
}

.item3 {
  color: black;
  background-image: url("https://www.viajeselcorteingles.es/imagen/camp/img_camp_area_usuario_293x170.jpg");
}

.footer-links {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1244px) {
  .footer-links {
    width: 85%;
  }
}

.footer-links h3 {
  margin-bottom: 10px;
  font-size: 0.875rem;
  color: #67b500;
}

.footer-links a {
  margin-bottom: 8px;
  font-size: 0.625rem;
  color: #929292;
}

.footer-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.links-international {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  padding-top: 60px;
  background-color: white;
}

.footer-logos {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 1244px) {
  .footer-logos {
    width: 85%;
  }
}

.footer-logos span {
  margin-right: 60px;
}

.footer-logos__card {
  background-image: url("https://www.viajeselcorteingles.es/estaticos/Redbility/_style/_css/_gfx/img_tarjeta_veci.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-logos__star {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-logos__star p::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f005";
}

.footer-legal {
  margin: 0 auto;
  padding-bottom: 60px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1244px) {
  .footer-legal {
    width: 85%;
  }
}

.footer-legal__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-legal__social .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1rem;
}

.footer-legal__social .social-list span {
  color: #67b500;
}
/*# sourceMappingURL=styles.css.map */